
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Home.css" />
</head>


<div class="a-container-content">
    <div class="a-about-container">

        <div class="a-about-section1">
            <div class="a-about-maintext">only we can give you access</div>
            <div class="a-about-section1-content">
                <div class="a-about-section1-content-left">
                    <div class="a-about-section1-textmain">Our goals</div><br>
                    <div class="a-about-section1-textsecond">
                        <ul class="a-about-goals-text">
                            <li>Quality - We offer only high quality products from proven and reliable suppliers of materials.</li>
                            <br />
                            <li>Reliability - We guarantee reliability in every transaction and ensure the protection of customer data.</li>
                            <br />
                            <li>Convenience - Our online store was created for the convenience of customers. Simple interface, quick search, easy payment.</li>
                            <br />
                            <li>Customer focus - we value every client and meet their expectations.</li>
                        </ul>
                    </div>
                </div>
                <div class="a-about-section1-content-right">
                    <div class="a-about-section1-backimage"></div>
                </div>
            </div>
        </div>

        <div class="a-home-section2">
            <div class="a-home-section2-headertext">immediate access to quality materials</div>

            <div class="a-home-section2-eq">
                <svg class="a-home-section2-eq-svg" xmlns="http://www.w3.org/2000/svg" width="285" height="362" viewBox="0 0 285 362" fill="none">
                    <path d="M58.3861 1L1 1V361H284V304.261" stroke="#FAF6F1" />
                    <div class="a-home-section2-eq-text">equipment</div>
                    <div class="a-home-section2-eq-img"></div>
                </svg>
            </div>

            <div class="a-home-section2-fb">
                <svg class="a-home-section2-fb-svg" xmlns="http://www.w3.org/2000/svg" width="285" height="362" viewBox="0 0 285 362" fill="none">
                    <path d="M58.3861 1L1 1V361H284V304.261" stroke="#FAF6F1" />
                    <div class="a-home-section2-fb-text">fabrics</div>
                    <div class="a-home-section2-fb-img"></div>
                </svg>
            </div>

            <div class="a-home-section2-acc">
                <svg class="a-home-section2-acc-svg" xmlns="http://www.w3.org/2000/svg" width="285" height="362" viewBox="0 0 285 362" fill="none">
                    <path d="M58.3861 1L1 1V361H284V304.261" stroke="#FAF6F1" />
                    <div class="a-home-section2-acc-text">accessories</div>
                    <div class="a-home-section2-acc-img"></div>
                </svg>
            </div>

            <div class="a-home-section2-text-right-h">
                Keep up with the era
            </div>

            <div class="a-home-section2-text-right">
                We create boldly designed minimalist bags and accessories inspired by the contemporary architectural trend Less is More.
                We strive for perfection in lines and proportions without compromising on functionality. The perfect balance between quality, durability and style.
                <br /><br />
                We collaborate with the most prestigious tanneries in northern Italy, which are located less than 70 km from the manufacturing facilities. These companies offer the highest quality leathers in a sustainable way.
                <br /><br />
                From choice of raw material to transformation to the final product, we pay special attention to sustainability by selecting hides from the food industry only, in compliance with the strictest regulations.

                <a asp-controller="Catalog" asp-action="Index" class="a-about-section2-btn-bts">
                    <div class="a-about-section2-btn-bts-text">
                        BACK TO SHOPPING
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

