@model Access_Models.ViewModels.ProductAttributeVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Manage - Product Attribute";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/CategoryManagement.css" />
</head>

<form method="post" asp-action="Delete">
    <input asp-for="ProductAttribute.Id" hidden />
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Product Attribute</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ProductAttribute.AttributeTypeId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="ProductAttribute.AttributeTypeId" asp-items="@Model.AttributeTypeSelectList" disabled class="form-control">
                        </select>
                        <span asp-validation-for="ProductAttribute.AttributeTypeId" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ProductAttribute.AttributeValueId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="ProductAttribute.AttributeValueId" asp-items="@Model.AttributeValueSelectList" disabled class="form-control">
                        </select>
                        <span asp-validation-for="ProductAttribute.AttributeValueId" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ProductAttribute.ProductId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProductAttribute.ProductId" disabled class="form-control" />
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ProductAttribute.IsInStock"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProductAttribute.IsInStock" disabled class="form-control" />
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}