@model Access_Models.ViewModels.ProductVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Access_Utility

@{
    var title = "Create Product";
}
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/CategoryManagement.css" />
    <link rel="stylesheet" href="~/css/UpsertManagement.css" />
</head>

<div class="a-container-content">

    <div class="a-upsert-container-content">
        <form class="a-upsert-form" method="post" enctype="multipart/form-data">
            @if (Model.Product.Id != 0)
            {
                title = "Edit Product";
                    <input asp-for="Product.Id" hidden />
            }
            <div class="">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="a-upsert-form-lable">
                    <h2 class="">@title</h2>
                </div>
                <div class="">
                    <div class="">

                        <div class="form-group a-upsert-form-item">
                            <div class="a-upsert-form-lable a-upsert-form-item-div">
                                <label asp-for="Product.Name"></label>
                            </div>
                            <div class="a-upsert-form-input a-upsert-form-item-div">
                                <input asp-for="Product.Name" class="form-control" />
                                <span asp-validation-for="Product.Name" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group a-upsert-form-item">
                             <div class="a-upsert-form-lable a-upsert-form-item-div">
                                <label asp-for="Product.Price"></label>
                            </div>
                            <div class="a-upsert-form-input a-upsert-form-item-div">
                                <input asp-for="Product.Price" class="form-control" data-val="false" oninput="this.value = this.value.replace('\.', ',')" />
                                <span asp-validation-for="Product.Price" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group a-upsert-form-item">
                            <div class="a-upsert-form-lable a-upsert-form-item-div">
                                <label asp-for="Product.ShortDesc"></label>
                            </div>
                                <div class="a-upsert-form-input a-upsert-form-item-div">
                                    <input asp-for="Product.ShortDesc" class="form-control" />
                                <span asp-validation-for="Product.ShortDesc" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group a-upsert-form-item">
                            <div class="a-upsert-form-lable a-upsert-form-item-div">
                                <label asp-for="Product.CategoryId"></label>
                            </div>
                                <div class="a-upsert-form-input a-upsert-form-item-div">
                                <select asp-for="Product.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                                    <option disabled selected">--Select Category--</option>
                                </select>
                                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group a-upsert-form-item">
                            <div class="a-upsert-form-lable a-upsert-form-item-div">
                                <label asp-for="Product.Description"></label>
                            </div>
                            <div class="a-upsert-form-input a-upsert-form-item-div">
                                <textarea asp-for="Product.Description" class="form-control summernote"></textarea>
                                <span asp-validation-for="Product.Description" class="text-danger"></span>
                            </div>

                        </div>
                        @*
                        <div class="form-group a-upsert-form-item">
                            <div class="a-upsert-form-lable a-upsert-form-item-div">
                                <label >Image</label>
                            </div>
                            <div class="a-upsert-form-item-div">
                                <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                            </div>

                        </div>
                        *@
                        <div class="form-group a-upsert-form-item">
                            <div class="a-upsert-form-item-div">

                                <div class="col">
                                    @if (Model.Product.Id != 0)
                                    {
                                        //update
                                        <input type="submit" class="btn btn-info w-100" value="Update"/>
                                    }
                                    else
                                    {
                                        <input type="submit" onclick="return validateInput();" class="btn btn-primary w-100" value="Create"/>
                                    }

                                </div>
                                <div class="a-upsert-form-item-div">
                                    <a asp-action="Index" class="btn btn-success w-100">
                                        <i class="fa-solid fa-arrow-right-from-bracket"></i> Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="a-upsert-form-lable a-upsert-form-item-div">
                        @if (Model.Product.Id != 0)
                        {
                               // <img src="@WebConstants.ProductImagePath@Model.Product.Image" width="100" style="border-radius:5px; border:1px solid #bbb"/>
                        }
                    </div>
                </div>
            </div>
    </form>
    </div>
</div>


@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $('.summernote').summernote({
            placeholder: 'Hello stand alone ui',

            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    </script>
}