img {
    user-select: none;
}

.a-catalog-filter {
    min-height: 10rem;
    width: 0;
    position: fixed;
    z-index: 5000;
    top: 5.5rem;
    right: -0.1rem;
    background-color: #262632;
    outline: 0.1rem solid #FAF6F1;
    outline-offset: -0.1rem;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.5s;
}

.a-catalog-filter-content{
    padding: 1rem 1.5rem 1rem 1rem;
}

.a-catalog-selected-list {
    background-color: #262632;
}

.a-catalog-selected-list option,.a-catalog-selected-list optgroup, .a-catalog-selected-list{
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    cursor: pointer;
    display: block;
    transition: 0.3s;
}

.a-catalog-filter a {
    padding: .5rem .5rem .5rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    cursor: pointer;
    display: block;
    transition: 0.3s;
}

.a-catalog-filter a:hover {
    color: #f1f1f1;
}

.a-catalog-filter .a-catalog-closebtn {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 2.25rem;
}

@media screen and (max-height: 450px) {
    .a-catalog-filter {
        padding-top: 1rem;
    }

    .a-catalog-filter a {
        font-size: 1.125rem;
    }
}

.a-catalog-content {
    width: 100%;
    min-height: 90.3rem;
    overflow: hidden;
}

.a-catalog-search {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.a-catalog-search-input {
    width: 15rem;
    color: #FAF6F1;
    font-family: Play-Regular;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 1.5rem;
    display: flex;
    background: none;
    border: none;
    outline: .125rem solid #FAF6F180;
    outline-offset: -.125rem;
}

.a-catalog-search-input:focus {
    outline: .125rem solid #FAF6F1;
    outline-offset: -.125rem;
}

.a-catalog-filter-btns{
    width: auto;
    height: 5rem;
    display: flex;
    flex-direction: column;
    position: absolute;    
    left: 0;
    bottom: 0;
}

.a-catalog-filter-apply, .a-catalog-filter-clear, .a-catalog-search-btn {
    width: 8rem;
    height: 1.5rem;
    outline: .125rem solid #FAF6F1;
    outline-offset: -.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    appearance: auto;
    color: #FAF6F1;
    font-family: Play-Regular;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border: none;
}

.a-catalog-filter-apply:active, .a-catalog-filter-clear:active, .a-catalog-search-btn:active {
    outline: .15rem solid #FAF6F1;
    outline-offset: -.15rem;
    background: #00000020;
}

.a-catalog-filter-apply, .a-catalog-filter-clear{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.a-catalog-search-btn {
    margin-left: 1rem;
}

.a-catalog-category-line {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.a-catalog-category-name {
    color: #FAF6F1;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.045rem;
}

.a-category-filter {
    color: #FAF6F1;
    font-family: Play-Regular;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02625rem;
    cursor: pointer;
}

.a-catalog-product-table-container {
    width: 100%;
    height: auto;
    position: relative;
}

.a-catalog-product-table-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #FAF6F160;
    z-index: 5000;
    display: none;
}

.a-catalog-product-table {
    width: 100%;
    height: auto;
    display: flex;
}

.a-catalog-product-table-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.a-catalog-product-table-row {
    width: 110%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.a-catalog-product-loading {
    width: 100%;
    min-height: 5rem;
}

.a-catalog-hide-img{
    display: flex;
}

.a-catalog-loading-img {
    width: 5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: url('../Images/Pages/Catalog/loading.svg');
    animation: loading-animation 10000ms linear infinite;
}

@keyframes loading-animation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-360deg);
    }
}

.a-catalog-hide-btn {
    margin-top: .5rem;
    margin-bottom: .5rem;
    outline: .2rem solid #FAF6F1;
    outline-offset: -.2rem;
    cursor: pointer;
    display: none;
}

.a-catalog-loading-btn {
    width: 10rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    background: none;
    text-decoration: none;
    align-items: center;
    color: #FAF6F1;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02625rem;
    display: flex;
}

/*details*/
.a-details {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.a-details-container {
    width: 100%;
    height: auto;
    padding-bottom: 2.125rem;
}

.a-product-info {
    width: 100%;
    min-height: 60rem;
    display: flex;
    flex-direction: row;
}

.a-details-slider {
    width: 58.3125rem;
    height: 58.125rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;   
}

.a-details-slider-images-container {
    height: 58.125rem;
    width: 10.75rem;
    position: relative;
}

.a-details-slider-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 0rem;
    transition: 0.2s ease-in-out;
    transition-property: bottom;
}

.a-details-slider-images-item {
    width: 10.75rem;
    height: 13.375rem;
    flex-shrink: 0;
}

.a-details-slider-images-item img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: contain;
    background: #FFF;
}

.a-details-slider-mainimage {
    width: 46.0625rem;
    height: 58.125rem;
}

.a-details-slider-mainimage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #FFF;
}

.a-details-slider-next-btn,
.a-details-slider-prev-btn {
    position: absolute;
    left: 4.375rem;
    width: 2rem;
    height: 2rem;
    background-color: #00000030;
    outline: 0.1rem solid #FAF6F1;
    outline-offset: -0.1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 400;
    font-family: Play-Regular;
    color: #262632;
    user-select: none;
}

.a-details-slider-prev-btn{
    top: .5rem;
}

.a-details-slider-next-btn {
    bottom: .5rem;
    transform: scaleY(-1);
}

.a-details-rightblock {
    width: 54.1875rem;
    min-height: 100%;
}

.a-details-rightblock-content {
    padding-left: 4rem;
    padding-right: 4rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.a-details-product-name {
    width: auto;
    height: 1.8125rem;
    color: #FAF6F1;
    font-family: Conthrax;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.a-details-product-price {
    margin-top: 0.94rem;
    color: #FAF6F1;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.a-details-product-color {
    margin-top: 2.63rem;
    width: 14rem;
    max-width: 100%;
    min-height: 3.75rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.a-details-product-color-item {
    width: 3.25rem;
    height: 3.25rem;
    flex-shrink: 0;
    outline: 0.1rem solid #FAF6F1;
    outline-offset: -0.1rem;
    overflow: hidden;
}

.a-details-product-color-item-empty {
    width: 3.25rem;
    height: 3.25rem;
    flex-shrink: 0;
    outline: none;
}


.a-details-krest {
    position: relative;
    top: 38%;
    left: -22%;
}

.a-details-krest:after {
    content: "";
    border: .1rem solid #00000070;
    position: absolute;
    width: 150%;
    height: .3rem;
    background: #FAF6F1;
}

.a-details-krest:before {
    transform: rotate(45deg);
}

.a-details-krest:after {
    transform: rotate(-45deg);
}

.a-details-product-addtocart-button {
    width: 46.8125rem;
    height: 3.75rem;
    flex-shrink: 0;
    display: flex;
    background: linear-gradient(90deg, #7D5DDC 2.03%, #C96399 97.43%);
    justify-content: center;
    align-items: center;
    margin-top: 2.56rem;
    margin-bottom: 2.56rem;
    padding: 0;
    border: none;
    cursor: pointer;
    color: #FAF6F1;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.a-details-product-description {
    width: 43.25rem;
    min-height: 11.375rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.a-details-product-description-buttons {
    width: 100%;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-details-product-description-buttons-item {
    color: #FAF6F1;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.a-details-product-description-content {
    width: 43.25rem;
    height: 7.8125rem;
    flex-shrink: 0;
    color: #FAF6F1;
    font-family: Play-Regular;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.a-details-category-products-container {
    width: 112.75rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 2.125rem;
    overflow: hidden;
}

.a-details-category-products-container-text {
    height: 1.75rem;
    margin-bottom: 0.37rem;
    color: #FAF6F1;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}