body {
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.a-category-management {
    width: 100%;
    min-height: 40rem;
    display: flex;
    justify-content: center;
}

.a-category-m-upper-table {

}

.a-category-list-text {
    padding-top: 0;
    padding-left: 0;
    width: 100%;
    line-height: normal;
    color: #FAF6F1;
    font-family: Play-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-align: left;
}

.a-category-list-btn {
    padding-top: 0;
    padding-left: 0;
    width: 100%;
    line-height: normal;
    color: #FAF6F1;
    font-family: Play-Regular !important;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
}

.a-category-table {
    padding-top: 0;
    padding-left: 0;
    width: 100%;
    line-height: 5rem;
    color: #FAF6F1;
    font-family: Play-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.a-category-table table{
    border-collapse: collapse;
}

.a-category-table td, th{
    border: solid 0.2rem #808080;
    text-decoration: none;
}

.a-category-table-tr-pd td {
    padding-left: 2rem;
}

.a-category-table-container {
    width: 80%;
    min-height: 30rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.a-category-table-last-column {
    text-align: center;
    padding-left: 0 !important;
}

.a-category-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a-category-list-item {
    width: 17rem;
    display: inline-block;
    justify-content: space-between;
}

.a-category-table-btn-group {
    width: 40%;
    height: 100%;
    display: flex;
    margin: auto;
}

.a-category-table-btn-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.a-category-table-btn {
    width: 3rem;
    height: 3rem;
    background: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.a-category-table-btn-icon-del {
    color: #ff03036e;
}

.a-category-table-btn-icon-edit {
    color: #fff;
}

.a-category-create-cat-btn {
    padding-top: 0;
    padding-left: 0;
    width: 100%;
    line-height: normal;
    color: #FAF6F1;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}