
body {
    overflow-x: hidden;
}


.a-home-section1 {
    width: 100%;
    height: 66.25rem;
    overflow: hidden;
}

.a-home-section1-bagimage {
    width: 47.3125rem;
    height: 71rem;
    flex-shrink: 0;
    background: url('../Images/Pages/Home/homebag.png'), transparent 50% / cover no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0.75rem;
    left: 72.69rem;
    padding: 0;
    z-index: 2000;
}

.a-home-section1-textmain {
    width: 73.625rem;
    color: #FAF6F1;
    font-family: Conthrax;
    font-size: 6.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 6.9375rem;
    top: 19.31rem;
    position: absolute;
    z-index: 2000;
}

.a-home-section1-textsecond {
    width: 50.875rem;
    color: #FFF;
    font-family: Play-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0675rem;
    text-transform: capitalize;
    top: 34.25rem;
    position: absolute;
    z-index: 2000;
}

.a-home-section1-textback {
    font-family: Conthrax;
    font-size: 11.5625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(90deg, #7D5DDC 2.03%, #C96399 97.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 21.25rem;
    right: 3.62rem;
    position: absolute;
    z-index: 1000;
}

.a-home-section1-bgcircle1 {
    width: 29.5625rem;
    height: 29.5625rem;
    flex-shrink: 0;
    border-radius: 29.5625rem;
    background: rgba(201, 99, 153, 0.25);
    filter: blur(100px);
    top: -16.81rem;
    left: 40.56rem;
    position: absolute;
    z-index: 1000;
}

.a-home-section1-bgcircle2 {
    width: 41rem;
    height: 41rem;
    flex-shrink: 0;
    border-radius: 41rem;
    background: rgba(125, 93, 220, 0.25);
    filter: blur(100px);
    top: -19.75rem;
    left: 56.75rem;
    position: absolute;
    z-index: 1000;
}

.a-home-section1-bgcircle3 {
    width: 41rem;
    height: 41rem;
    flex-shrink: 0;
    border-radius: 41rem;
    background: rgba(125, 93, 220, 0.25);
    filter: blur(100px);
    top: 43.88rem;
    left: -12.73rem;
    position: absolute;
    z-index: 1000;
}

.a-home-section1-btn-ln {
    width: 22.5rem;
    height: 3.75rem;
    flex-shrink: 0;
    border: 0.33rem solid #FAF6F1;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    display: flex;
    top: 46rem;
    align-items: center;
    text-decoration: none;
    z-index: 5000;
    color: #FAF6F1;
    font-family: Play-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.a-home-section1-btn-ln:hover {
    text-decoration: none;
    background: #FAF6F1;
    color: #262632;
    font-family: Play-Bold;
    font-size: 1.5rem;
}

.a-home-section1-btn-ct {
    width: 23.16rem;
    height: 4.41rem;
    flex-shrink: 0;
    background: linear-gradient(90deg, #7D5DDC 2.03%, #C96399 97.43%);
    outline: none;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    display: flex;
    top: 46rem;
    left: 34.69rem;
    align-items: center;
    z-index: 2000;
    color: #FAF6F1;
    font-family: Play-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    text-decoration: none;
}

.a-home-section1-btn-ct:hover {
    background: none;
    outline: 0.33rem solid #FAF6F1;
    outline-offset: -0.33rem
}

.a-home-ticker {
    width: 120rem;
    height: 8.5rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FAF6F1;
    overflow: hidden;
    position: relative;
    z-index: 2000;
}

.a-home-ticker a{
    text-decoration: none;
}

.a-home-ticker-text1 {
    font-family: Play-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0675rem;
    text-transform: capitalize;
    background: linear-gradient(90deg, #7D5DDC 2.03%, #C96399 97.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    width: 120rem;
    height: 1.75rem;
    position: relative;
}

.a-home-ticker-runline{
    width: max-content;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.a-home-ticker-text2 {
    color: #262632;
    font-family: Play-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0675rem;
    text-transform: capitalize;
    overflow: hidden;
    width: 120rem;
    height: 1.75rem;
    display: flex;
    position: relative;
}

.a-home-ticker-runline-1 a{
    width: auto;
    text-decoration: none;
}

.a-home-ticker-runline-1 {
    width: max-content;
    display: flex;
    flex-direction: row;
}

.a-home-ticker-runline-2 {
    width: max-content;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.a-home-ticker-runline-text-1 {
    width: 120rem;
    display: flex;
    animation: a-home-ticker-runline-text-1 20s linear infinite 1s both;
}

@keyframes a-home-ticker-runline-text-1 {
    to {
        transform: translateX(-100%);
    }
}

.a-home-ticker-runline-text-2 {
    width: 120rem;
    display: flex;
    animation: a-home-ticker-runline-text-2 20s linear infinite 1s both;
}

@keyframes a-home-ticker-runline-text-2 {
    to {
        transform: translateX(+100%);
    }
}

.a-home-ticker-text3 {
    font-family: Play-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0675rem;
    text-transform: capitalize;
    background: linear-gradient(90deg, #262632 2.03%, #C96399 97.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    width: 120rem;
    height: 1.75rem;
    display: flex;
    position: relative;
}

.a-home-ticker-text-left{
    left: -120rem;
}

.a-home-section2 {
    width: 100%;
    height: 71.75rem;
    overflow: hidden;
    display: flex;
}

.a-home-section2-headertext {
    font-family: Conthrax;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1125rem;
    text-transform: capitalize;
    background: linear-gradient(90deg, #7D5DDC 2.03%, #C96399 97.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 23.19rem;
    padding-top: 5.94rem;
    position: absolute;
}

.a-home-section2-eq {
    width: 30rem;
    height: 30rem;
    margin: 0;
    padding-top: 16.13rem;
    position: absolute;
}

.a-home-section2-eq-text {
    color: #FFF;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0675rem;
    text-transform: capitalize;
    top: -3.63rem;
    left: 1.5rem;
    position: relative;
}

.a-home-section2-eq-img {
    width: 17.5625rem;
    height: 22.5625rem;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(125, 93, 220, 0.15) 0%, rgba(125, 93, 220, 0.15) 100%), url('../Images/Pages/Home/Rectangle left.png'), lightgray 50% / cover no-repeat;
    top: -29.7625rem; /*-height-2-5.19*/
    left: 5rem;
    position: relative;
}

.a-home-section2-eq-svg {
    width: 17.6875rem;
    height: 22.5rem;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #FAF6F1;
    background-size: 100%;
    position: relative;
}

.a-home-section2-fb {
    width: 30rem;
    height: 30rem;
    margin: 0;
    padding-top: 48.39rem;
    padding-left: 8.81rem;
    position: absolute;
}

.a-home-section2-fb-text {
    color: #FFF;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0675rem;
    text-transform: capitalize;
    top: -3.63rem;
    left: 1.5rem;
    position: relative;
}

.a-home-section2-fb-img {
    width: 17.5625rem;
    height: 22.5625rem;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(125, 93, 220, 0.15) 0%, rgba(125, 93, 220, 0.15) 100%), url('../Images/Pages/Home/Rectangle right.png'), lightgray 50% / cover no-repeat;
    top: -29.7625rem; /*-height-2-5.19*/
    left: 5rem;
    position: relative;
}

.a-home-section2-fb-svg {
    width: 17.6875rem;
    height: 22.5rem;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #FAF6F1;
    background-size: 100%;
    position: relative;
}

.a-home-section2-acc {
    width: 30rem;
    height: 30rem;
    margin: 0;
    padding-top: 18.76rem;
    padding-left: 27.55rem;
    position: absolute;
}

.a-home-section2-acc-text {
    color: #FFF;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0675rem;
    text-transform: capitalize;
    top: -3.63rem;
    left: 1.5rem;
    position: relative;
}

.a-home-section2-acc-img {
    width: 17.5625rem;
    height: 22.5625rem;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(125, 93, 220, 0.15) 0%, rgba(125, 93, 220, 0.15) 100%), url('../Images/Pages/Home/Rectangle right.png'), lightgray 50% / cover no-repeat;
    top: -29.7625rem; /*-height-2-5.19*/
    left: 5rem;
    position: relative;
}

.a-home-section2-acc-svg {
    width: 17.6875rem;
    height: 22.5rem;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #FAF6F1;
    background-size: 100%;
    position: relative;
}

.a-home-section2-text-right-h {
    width: 56.0625rem;
    color: #FAF6F1;
    text-align: center;
    font-family: Play-Regular;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 2.5rem */
    text-transform: uppercase;
    padding-top: 17.5rem;
    padding-left: 56.81rem;
    position: absolute;
}

.a-home-section2-text-right {
    width: 55.625rem;
    height: 28.6875rem;
    flex-shrink: 0;
    color: #FFF;
    text-align: justify;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 1.875rem */
    letter-spacing: 0.225rem;
    padding-top: 21.5rem;
    padding-left: 56.81rem;
    position: absolute;
}

.a-home-section3 {
    width: 119.6875rem;
    height: 50.8125rem;
    flex-shrink: 0;
    background: #FAF6F1;
    display: flex;
    justify-content: space-between;
}

.a-home-section3-pcch-list {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
}

/*about*/

.a-about-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.a-about-section1 {
    width: 100%;
    height: 50.75rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.a-about-maintext {
    font-family: Conthrax;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1125rem;
    text-transform: capitalize;
    background: linear-gradient(90deg, #7D5DDC 2.03%, #C96399 97.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: relative;
    top: 2rem;
}

.a-about-goals-text {
    list-style-type: disc;
}

.a-about-section1-backimage {
    width: 60rem;
    height: 33.7rem;
    flex-shrink: 0;
    background: url('../Images/Pages/Home/about-crystal.png'), transparent 50% / cover no-repeat;
    background-size: 100%;
    z-index: 2000;
}

.a-about-section1-content {
    margin-top: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.a-about-section1-content-left{
    width: 52.75rem;
}

.a-about-section1-textmain {
    width: 100%;
    color: #FAF6F1;
    text-align: left;
    font-family: Play-Bold;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 2.5rem */
    text-transform: uppercase;
}

.a-about-section1-textsecond {
    width: 48rem;
    height: 40.6875rem;
    flex-shrink: 0;
    color: #FFF;
    text-align: justify;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 1.875rem */
    letter-spacing: 0.225rem;
}

.a-about-section2-btn-bts {
    width: 55rem;
    height: 4.6rem;
    flex-shrink: 0;
    border: 0.33rem solid #FAF6F1;
    justify-content: center;
    justify-self: end;
    position: absolute;
    cursor: pointer;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    text-decoration: none;
    z-index: 5000;
    color: #FAF6F1;
    font-family: Play-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    letter-spacing: initial;
}

.a-about-section2-btn-bts:hover {
    text-decoration: none;
    background: linear-gradient(90deg, #7D5DDC 2.03%, #C96399 97.43%);
}