

.a-upsert-container-content {
    width: 100%;
    justify-content: center;
    display: flex;
}

.a-upsert-form {
    width: 90rem;
    justify-content: center;
    display: flex;
}

.a-upsert-form-item {
    padding-top: 0.25rem;
    width: 40rem;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
}

.a-upsert-form-item{
    width: 100%;
    padding-top: .25rem;
}

.a-upsert-form-lable {
    color: #FFF;
    font-family: Play-Regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.a-upsert-form-input {
    width:100%;
}

.a-upsert-form-input input{
    width: 100%;
    height: 1.5rem;
}

.note-editor, .note-frame {
    background: #fff;
}
