@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<div class="a-container-content">
    <div class="a-login-container">
        <div class="a-login-title">@ViewData["Title"]</div>
        <div class="a-login-form-container">
            <form id="account" method="post" class="a-login-form">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="a-login-inform-container">
                    <div class="a-login-form-item a-login-form-inp-cont">
                        <input asp-for="Input.Email" class="a-login-form-input" aria-required="true" placeholder=" " />
                        <label asp-for="Input.Email" class="a-login-form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="a-login-form-span"></span>
                    </div>
                    <div class="a-login-form-item a-login-form-inp-cont">
                        <input asp-for="Input.Password" class="a-login-form-input" aria-required="true" placeholder="" />
                        <label asp-for="Input.Password" class="a-login-form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="a-login-form-span"></span>
                    </div>
                    <div class="a-login-form-item">
                        <label asp-for="Input.RememberMe" class="a-login-form-checkbox">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div class="a-login-form-item">
                        <button id="login-submit" type="submit" class="a-login-btn">Log in</button>
                    </div>
                    <div class="a-login-form-item">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </div>
                    <div class="a-login-form-item">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>



@*
<div class="row">
*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
