@using Access_Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/_layout.css" />
    <link rel="stylesheet" href="~/fonts/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/fonts/conthrax-sb.ttf" />
    <link rel="stylesheet" href="~/lib/summernote-0.8.18-dist/summernote-lite.css" />
    <link rel="stylesheet" href="~/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/23.2.4/fluent.css" />
</head>
<body>
    <header>
        <div class="a-header-back">
            <div class="a-container-content">
                <div class="a-header">
                    <ul class="a-header-list">
                        <a class="a-header-logo" asp-controller="Home" asp-action="Index">ACCESS</a>
                    </ul>

                    <ul class="a-header-list a-header-page-list">
     
                        <li >
                            <a class="a-header-link" asp-controller="Catalog" asp-action="Index">CATALOG</a>
                        </li>

                        <li >
                            <a class="a-header-link" asp-controller="Catalog" asp-action="NewArrivals">NEW ARRIVALS</a>
                        </li>

                        <li >
                            <a class="a-header-link" asp-controller="Category" asp-action="Index">LOOKBOOK</a>
                        </li>

                        <li >
                            <a class="a-header-link" asp-controller="Home" asp-action="About">ABOUT</a>
                        </li>

                        @if(User.IsInRole(WebConstants.AdminRole))
                        {
                            <li>
                                <div class="a-header-dropdown">
                                    <div class="a-header-dropbtn">MODERATION</div>
                                    <div class="a-header-dropdown-content">
                                        <a asp-controller="Inquiry" asp-action="Index">Inquiries</a>
                                        <a asp-controller="Order" asp-action="Index">Orders</a>
                                        <hr />
                                        <a asp-controller="AttributeType" asp-action="Index">Attribute Type</a>
                                        <a asp-controller="AttributeValue" asp-action="Index">Attribute Value</a>
                                        <a asp-controller="Category" asp-action="Index">Category</a>
                                        <a asp-controller="ProductAttribute" asp-action="Index">Product Attribute</a>
                                        <a asp-controller="Product" asp-action="Index">Product</a>
                                        <a asp-controller="Status" asp-action="Index">Status</a>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </header>
    <div class="">
        <main role="main" class="a-render-body">
            <partial name="~/Views/Shared/_Notifications.cshtml" />
            @RenderBody()
            <!-- Syncfusion ASP.NET Core Script Manager -->
        </main>
    </div>

    <footer class="a-footer">
        <div class="a-container-content">
            <div class="a-footer-content">
                <div class="a-footer-list">
                    <ul class="a-footer-list-ul">
                        <li>
                            <a class="a-footer-link a-footer-link-logo">ACCESS</a>
                        </li>
                        <li>
                            <a class="a-footer-link a-footer-link-reg">+1(234)567-89-00</a>
                        </li>
                        <li>
                            <a class="a-footer-link a-footer-link-reg">access@site.com</a>
                        </li>
                    </ul>

                    <ul class="a-footer-list-ul">
                        <li>
                            <a class="a-footer-link a-footer-link-bold">HELP</a>
                        </li>
                        <li>
                            <a class="a-footer-link a-footer-link-reg">Shipping/Returns</a>
                        </li>
                        <li>
                            <a class="a-footer-link a-footer-link-reg">Loyalty program</a>
                        </li>
                        <li>
                            <a class="a-footer-link a-footer-link-reg">Privacy</a>
                        </li>
                    </ul>

                    <ul class="a-footer-list-ul">
                        <li>
                            <a class="a-footer-link a-footer-link-bold">INFO</a>
                        </li>
                        <li>
                            <a class="a-footer-link a-footer-link-reg">About</a>
                        </li>
                        <li>
                            <a class="a-footer-link a-footer-link-reg">Contact us</a>
                        </li>
                    </ul>

                    <ul class="a-footer-list-ul">
                        <li>
                            <a class="a-footer-link a-footer-link-bold">NEWSLETTER</a>
                        </li>
                        <li>
                            <a class="a-footer-link a-footer-link-reg">Sign up to our newsletter for 5% off your first order and be the first to know about exclusive offers, product launches</a>
                        </li>
                        <li>
                            <div class="a-footer-link a-footer-link-rect"></div>
                        </li>
                    </ul>
                </div>
                <div class="a-footer-copyright">© site 2023</div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/summernote-0.8.18-dist/summernote-lite.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/23.2.4/dist/ej2.min.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>

<script type="text/javascript">
    html.style.height = `calc(${element.scrollHeight}/font-size)`;
</script>

</html>