@using Access_Models;
@using Access_Utility;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="a-header-list a-header-page-log">
<li >
    <a class="a-header-link" id="login" asp-controller="Catalog" asp-action="Search">
            <img src="~/Images/Header/search.svg">
    </a>
</li>
<li >
    @if (HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WebConstants.SessionCart) != null)
    {
        <a asp-action="Index" asp-controller="Cart" class="a-header-link">
        @{
            var count = HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WebConstants.SessionCart).Count;
        }
            <img src="~/Images/Header/shopping_bag.svg">@*<sub class="a-header-link-log-sub">(@count)</sub>*@
        </a>
    }
    else
    {
        <a asp-action="Index" asp-controller="Cart" class="a-header-link">
            <img src="~/Images/Header/shopping_bag.svg">@*<sub class="a-header-link-log-sub">(0)</sub>*@
        </a>
    }
</li>
@if (SignInManager.IsSignedIn(User))
{
    <li >
        <a id="manage" class="a-header-link" asp-action="Index" asp-controller="Account" title="Manage">
                <img src="~/Images/Header/person.svg">    
        </a>
    </li>
}
else
{
    <li >
        <a id="login" class="a-header-link" asp-action="Index" asp-controller="Account" title="login">
            <img src="~/Images/Header/person.svg">
        </a>
    </li>
}
</ul>
