@model Access_Models.ViewModels.StatusVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Manage - Order Status";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/CategoryManagement.css" />
</head>

<form method="post" asp-action="Delete">
    <input asp-for="Status.Id" hidden />
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Category</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Status.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Status.Name" disabled class="form-control" />
                    </div>

                </div>

                <div class="a-management-form-item">
                    <div class="a-management-form-label">
                        <label asp-for="Status.VisibleName">This name will be visible to the customers</label>
                    </div>
                    <div class="a-management-form-inp-cont">
                        <input asp-for="Status.VisibleName" list="AttributeType" class="a-management-form-input">
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Status.ParentId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Status.ParentId" asp-items="@Model.StatusSelectList" disabled class="form-control">
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}