@model Access_Models.AttributeType
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Access_Utility

@{
    var title = "Create Attribute Type";
}
@{
    ViewData["Title"] = "Manage - Attribute Type";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Management.css" />
</head>

<div class="a-container-content">
    <div class="a-management">
        <div class="a-management-title">@title</div>
        <div class="a-management-form-container">
            <form method="post" class="a-management-form">
                @if (Model.Id != 0)
                {
                    title = "Edit Attribute Type";
                    <input asp-for="Id" hidden />
                }
                <div class="a-management-inform-container">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="a-management-form-item">
                        <div class="a-management-form-label">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="a-management-form-inp-cont">
                            <input asp-for="Name" list="AttributeType" class="a-management-form-input">
                            <datalist   id="AttributeType">
                                <option value="@WebConstants.Size"></option>
                                <option value="@WebConstants.Color"></option>
                            </datalist>
                            <span asp-validation-for="Name" class="text-danger" class="a-management-form-span"></span>
                        </div>

                    </div>

                    <div class="a-management-form-item">
                        <div class="a-management-form-buttons">

                            <div class="a-management-form-btn-item">
                                @if (Model.Id != 0)
                                {
                                    <input type="submit" class="a-management-form-btn" value="Update" />
                                }
                                else
                                {
                                    <input type="submit" class="a-management-form-btn" value="Create" />
                                }
                            </div>
                            <div class="a-management-form-btn-item">
                                <a asp-action="Index" class="a-management-form-btn">
                                    <i class="fa-solid fa-right-from-bracket"></i> Back
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}