@model Access_Models.AttributeType
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Access_Utility

@{
    var title = "Create Attribute Type";
}
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/CategoryManagement.css" />
</head>

<form method="post">
    @if (Model.Id != 0)
    {
        title = "Edit Attribute Type";
        <input asp-for="Id" hidden />
    }
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" list="AttributeType">
                        <datalist   id="AttributeType">
                            <option value="@WebConstants.Size"></option>
                            <option value="@WebConstants.Color"></option>
                        </datalist>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.Id != 0)
                            {
                                <input type="submit" class="btn btn-info w-100" value="Update" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-primary w-100" value="Create" />
                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                <i class="fa-solid fa-right-from-bracket"></i> Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}